### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [512]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [513]:
Total_player = purchase_data["SN"].nunique()
Total_players_df=pd.DataFrame({"Total Players":[Total_player]})
left_aligned_Total_players_df = Total_players_df.style.set_properties(**{'text-align': 'left'})
left_aligned_Total_players_df

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [514]:
unique_items = purchase_data["Item Name"].nunique()
average_price = purchase_data["Price"].mean()
num_purchases = purchase_data["Purchase ID"].count()
total_revenue = purchase_data["Price"].sum()
summary_purchase_df = pd.DataFrame([{"Number of Unique Items":unique_items,"Average Price":average_price,
                                    "Number of Purchases":num_purchases,"Total Revenue":total_revenue}])
summary_purchase_df["Average Price"] = summary_purchase_df["Average Price"].map("${:.2f}".format)
summary_purchase_df["Total Revenue"] = summary_purchase_df["Total Revenue"].map("${:,.2f}".format)
left_aligned_summary_purchase_df = summary_purchase_df.style.set_properties(**{'text-align': 'left'})
left_aligned_summary_purchase_df

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [515]:
my_index = purchase_data["Gender"].unique()
my_index_series = pd.Series(my_index)
total_count=[]
for i in my_index:
    total_count.append(purchase_data.loc[purchase_data["Gender"]==i,"SN"].nunique())
gender_demo_df= pd.DataFrame({"Total Count":total_count,
                              "Percentage of Players":[x /Total_player for x in total_count]})
gender_demo_df.set_index(my_index_series,inplace=True)
gender_demo_df.sort_values("Total Count",ascending=False,inplace=True)
gender_demo_df["Percentage of Players"]=gender_demo_df["Percentage of Players"].map(lambda x: x*100).map("{:.2f}%".format)
left_aligned_gender_demo_df = gender_demo_df.style.set_properties(**{'text-align': 'left'})
left_aligned_gender_demo_df


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [516]:
gender = purchase_data["Gender"].unique()
purchase_count_gender=[]
average_price_gender=[]
total_price_gender=[]
total_price_person_gender=[]
for i in gender:
    purchase_count_gender.append(purchase_data.loc[purchase_data["Gender"]==i,:]["Price"].count())
    average_price_gender.append(purchase_data.loc[purchase_data["Gender"]==i,:]["Price"].mean())
    total_price_gender.append(purchase_data.loc[purchase_data["Gender"]==i,:]["Price"].sum())
    total_price_person_gender.append(purchase_data.loc[purchase_data["Gender"]==i,:]["Price"].sum() /
                                     purchase_data.loc[purchase_data["Gender"]==i,"SN"].nunique())
gender_purchase_df = pd.DataFrame({"Gender":gender,
                                   "Purchase Count":purchase_count_gender,
                                   "Average Purchase Price":average_price_gender,
                                   "Total Purchase Value":total_price_gender,
                                   "Avg Total Purchase per Person":total_price_person_gender})
group_gender_purchase_df = gender_purchase_df.groupby("Gender").sum()
group_gender_purchase_df["Average Purchase Price"] = group_gender_purchase_df["Average Purchase Price"].map("${:.2f}".format)
group_gender_purchase_df["Total Purchase Value"] = group_gender_purchase_df["Total Purchase Value"].map("${:,.2f}".format)
group_gender_purchase_df["Avg Total Purchase per Person"] = group_gender_purchase_df["Avg Total Purchase per Person"].map("${:.2f}".format)
left_aligned_gender_purchase_df = group_gender_purchase_df.style.set_properties(**{'text-align': 'left'})
left_aligned_gender_purchase_df

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [517]:
age_bin=[0,10,15,20,25,30,35,40,100]
age_category=["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
purchase_data["Age Category"]=pd.cut(purchase_data["Age"],age_bin,labels=age_category,right=False)
my_index_series = pd.Series(age_category)
total_count_age=[]
for i in age_category:
    total_count_age.append(purchase_data.loc[purchase_data["Age Category"]==i,"SN"].nunique())
age_demo_data= pd.DataFrame({"Total Count":total_count_age,
                              "Percentage of Players":[x /Total_player for x in total_count_age]})
age_demo_data.set_index(my_index_series,inplace=True)
gender_demo_df.sort_index(inplace=True)
age_demo_data["Percentage of Players"]=age_demo_data["Percentage of Players"].map(lambda x: x*100).map("{:.2f}%".format)
left_aligned_age_demo_data = age_demo_data.style.set_properties(**{'text-align': 'left'})
left_aligned_age_demo_data

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [518]:
purchase_count_age_category=[]
average_price_age_category=[]
total_price_age_category=[]
total_price_person_age_category=[]
for i in age_category:
    purchase_count_age_category.append(purchase_data.loc[purchase_data["Age Category"]==i,"Price"].count())
    average_price_age_category.append(purchase_data.loc[purchase_data["Age Category"]==i,"Price"].mean())
    total_price_age_category.append(purchase_data.loc[purchase_data["Age Category"]==i,"Price"].sum())
    total_price_person_age_category.append(purchase_data.loc[purchase_data["Age Category"]==i,"Price"].sum() /
                                     purchase_data.loc[purchase_data["Age Category"]==i,"SN"].nunique())
age_category_purchase_df = pd.DataFrame({"Age Ranges":age_category,
                                   "Purchase Count":purchase_count_age_category,
                                   "Average Purchase Price":average_price_age_category,
                                   "Total Purchase Value":total_price_age_category,
                                   "Avg Total Purchase per Person":total_price_person_age_category})
group_age_category_purchase_df=age_category_purchase_df.set_index("Age Ranges")
group_age_category_purchase_df["Average Purchase Price"] = group_age_category_purchase_df["Average Purchase Price"].map("${:.2f}".format)
group_age_category_purchase_df["Total Purchase Value"] = group_age_category_purchase_df["Total Purchase Value"].map("${:,.2f}".format)
group_age_category_purchase_df["Avg Total Purchase per Person"] = group_age_category_purchase_df["Avg Total Purchase per Person"].map("${:.2f}".format)
left_aligned_age_category_purchase_df = group_age_category_purchase_df.style.set_properties(**{'text-align': 'left'})
left_aligned_age_category_purchase_df

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [519]:
top_purchase_user_df=purchase_data.groupby("SN").sum().reset_index()
top_purchase_user_df= top_purchase_user_df.sort_values(["Price"],ascending=False).head(5)
top_five_purchasers = top_purchase_user_df["SN"].unique()
top_five_index = pd.Series(top_five_purchasers)
purchase_count_top_five =[]
average_purchase_price_top_five=[]
total_purchase_value=[]
for i in top_five_purchasers:
    purchase_count_top_five.append(purchase_data.loc[purchase_data["SN"]==i,"Price"].count())
    average_purchase_price_top_five.append(purchase_data.loc[purchase_data["SN"]==i,"Price"].mean())
    total_purchase_value.append(purchase_data.loc[purchase_data["SN"]==i,"Price"].sum())
summary_top_spenders = pd.DataFrame({"SN":top_five_purchasers,
                                   "Purchase Count":purchase_count_top_five,
                                   "Average Purchase Price":average_purchase_price_top_five,
                                   "Total Purchase Value":total_purchase_value})
group_sn_purchase_df=summary_top_spenders.set_index("SN")
group_sn_purchase_df["Average Purchase Price"] = group_sn_purchase_df["Average Purchase Price"].map("${:.2f}".format)
group_sn_purchase_df["Total Purchase Value"] = group_sn_purchase_df["Total Purchase Value"].map("${:,.2f}".format)
left_aligned_sn_purchase_df = group_sn_purchase_df.style.set_properties(**{'text-align': 'left'})
left_aligned_sn_purchase_df

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [520]:
popular_items = purchase_data[["Item ID","Item Name","Price"]]
popular_items["Purchase Count"] = popular_items.groupby(["Item ID","Item Name"])["Price"].transform("count")
popular_items["Item Price"] = popular_items.groupby(["Item ID","Item Name"])["Price"].transform("mean")
popular_items["Total Purchase Value"] = popular_items.groupby(["Item ID","Item Name"])["Price"].transform("sum")
summary_popular_items = popular_items.drop(columns="Price")
group_summary_popular_items=summary_popular_items.groupby(["Item ID","Item Name"]).mean().sort_values("Purchase Count",ascending=False).head(5)
group_summary_popular_items["Purchase Count"]=group_summary_popular_items["Purchase Count"].map("{:.0f}".format)
group_summary_popular_items["Item Price"]=group_summary_popular_items["Item Price"].map("${:.2f}".format)
group_summary_popular_items["Total Purchase Value"]=group_summary_popular_items["Total Purchase Value"].map("${:.2f}".format)
left_aligned_summary_popular_items_df = group_summary_popular_items.style.set_properties(**{'text-align': 'left'})
left_aligned_summary_popular_items_df

c:\Users\datqu\anaconda3\envs\bootcamp\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

c:\Users\datqu\anaconda3\envs\bootcamp\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
c:\Users\datqu\anaconda3\envs\bootcamp\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [521]:
group_summary_profitable_items=summary_popular_items.groupby(["Item ID","Item Name"]).mean().sort_values("Total Purchase Value",ascending=False).head(5)
group_summary_profitable_items["Purchase Count"]=group_summary_profitable_items["Purchase Count"].map("{:.0f}".format)
group_summary_profitable_items["Item Price"]=group_summary_profitable_items["Item Price"].map("${:.2f}".format)
group_summary_profitable_items["Total Purchase Value"]=group_summary_profitable_items["Total Purchase Value"].map("${:.2f}".format)
left_aligned_summary_profitable_items_df = group_summary_profitable_items.style.set_properties(**{'text-align': 'left'})
left_aligned_summary_profitable_items_df