### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
Total_player = purchase_data["SN"].nunique()
Total_players_df=pd.DataFrame({"Total Players":[Total_player]}) 
Total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
unique_items = purchase_data["Item Name"].nunique()
average_price = purchase_data["Price"].mean()
num_purchases = purchase_data["Purchase ID"].count()
total_revenue = purchase_data["Price"].sum()
summary_purchase_df = pd.DataFrame([{"Number of Unique Items":unique_items,"Average Price":average_price,
                                    "Number of Purchases":num_purchases,"Total Revenue":total_revenue}])
summary_purchase_df["Average Price"] = summary_purchase_df["Average Price"].map("${:.2f}".format)
summary_purchase_df["Total Revenue"] = summary_purchase_df["Total Revenue"].map("${:,.2f}".format)
left_aligned_summary_purchase_df = summary_purchase_df.style.set_properties(**{'text-align': 'left'})
left_aligned_summary_purchase_df

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
my_index = pd.Series(["Male","Female","Other / Non-Disclosed"])
male_total = purchase_data.loc[purchase_data["Gender"]=="Male",:]["SN"].nunique()
female_total = purchase_data.loc[purchase_data["Gender"]=="Female",:]["SN"].nunique()
other_total = purchase_data.loc[purchase_data["Gender"]=="Other / Non-Disclosed",:]["SN"].nunique()
total_count = [male_total,female_total,other_total]
gender_demo_df= pd.DataFrame({"Total Count":total_count,
                              "Percentage of Players":[male_total/Total_player,female_total/Total_player,other_total/Total_player]})
gender_demo_df.set_index(my_index,inplace=True)
gender_demo_df["Percentage of Players"]=gender_demo_df["Percentage of Players"].map(lambda x: x*100).map("{:.2f}%".format)
left_aligned_gender_demo_df = gender_demo_df.style.set_properties(**{'text-align': 'left'})
left_aligned_gender_demo_df


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
gender = ["Male","Female","Other / Non-Disclosed"]
purchase_count_gender = [purchase_data.loc[purchase_data["Gender"]=="Male",:]["Price"].count(),
                            purchase_data.loc[purchase_data["Gender"]=="Female",:]["Price"].count(),
                            purchase_data.loc[purchase_data["Gender"]=="Other / Non-Disclosed",:]["Price"].count()]
average_price_gender = [purchase_data.loc[purchase_data["Gender"]=="Male",:]["Price"].mean(),
                            purchase_data.loc[purchase_data["Gender"]=="Female",:]["Price"].mean(),
                            purchase_data.loc[purchase_data["Gender"]=="Other / Non-Disclosed",:]["Price"].mean()]
total_price_gender = [purchase_data.loc[purchase_data["Gender"]=="Male",:]["Price"].sum(),
                            purchase_data.loc[purchase_data["Gender"]=="Female",:]["Price"].sum(),
                            purchase_data.loc[purchase_data["Gender"]=="Other / Non-Disclosed",:]["Price"].sum()]
total_price_person_gender = [total_price_gender[x]/total_count[x] for x in range(3)]
gender_purchase_df = pd.DataFrame({"Gender":gender,
                                   "Purchase Count":purchase_count_gender,
                                   "Average Purchase Price":average_price_gender,
                                   "Total Purchase Value":total_price_gender,
                                   "Avg Total Purchase per Person":total_price_person_gender})
group_gender_purchase_df = gender_purchase_df.groupby("Gender").sum()
group_gender_purchase_df["Average Purchase Price"] = group_gender_purchase_df["Average Purchase Price"].map("${:.2f}".format)
group_gender_purchase_df["Total Purchase Value"] = group_gender_purchase_df["Total Purchase Value"].map("${:,.2f}".format)
group_gender_purchase_df["Avg Total Purchase per Person"] = group_gender_purchase_df["Avg Total Purchase per Person"].map("${:.2f}".format)
left_aligned_gender_purchase_df = group_gender_purchase_df.style.set_properties(**{'text-align': 'left'})
left_aligned_gender_purchase_df

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame